* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.full-page {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 80%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #999;
}

.input-field {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-btn {
    padding: 10px 20px;
    background-color: #0a640d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contacts-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-card {
    width: 40%;
    background-color: rgb(235, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.btn-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    gap: 10px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 10px;
    padding: 0px 10px;
    border-left: 1px solid #e46a6a;
    border-right: 1px solid #e46a6a;
}

.delete-btn {
    width: 80px;
    background-color: #e46a6a;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}

.edit-btn {
    width: 80px;
    background-color: #0f6bce;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}

